*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 5vw 20vw;
    justify-content: center;
    align-items: center;
}

.text{
    margin-bottom: 2vw;
    text-align: center;
}
.tabs{
    display: flex;
}
.tab-buttons{
 display: flex;
 flex-direction: column;

}
.tab-button{
    margin-bottom: 1vw;
    padding: 1.4vw;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(82, 3, 3);
    margin-right: 3vw;
    font-size: 1.4vw;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
}
.tab-contents{
    padding: 1.3vw;
}



.tab-details{
    display: none;
    animation: slide-right 0.6s ease 1;
}

.abouts{
    display:block;
}

@keyframes slide-right{
    0%{transform: translateX(-9vw);}
    100%{0}

}
.active{
    background-color: white;
}